{% spaceless %}
	<header (header) is="phong-screen-header"></header>
	<section (window-container) class="window-container"></section>
	<footer (tabbar) is="phong-screen-tabbar"></footer>
	<div (overlay) class="overlay"><i class="fas fa-spinner fa-pulse"></i></div>
{% endspaceless %}


