{% spaceless %}
	<span class="button-left hidden"><i class="fal fa-chevron-left inactive"></i><i class="fal fa-chevron-right inactive"></i></span>
	<h1><div data-subtitle="">Phong Screen</div><div data-subtitle="" class="inactive"></div></h1>
	<span class="button-right hidden"><i class="fal fa-users-class inactive"></i><i class="fal fa-chevron-right inactive"></i></span>
{% endspaceless %}


